@media screen and (max-width:600px){
}
.aplication{
width: auto;
height: auto;
margin:auto;
padding: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 

  .aplication{
width: 100%;
background-color: aqua;
height: 680px;
text-align: center;
position: relative;
text-decoration: none;
justify-content: center;

  }
  
  .aplication h2{
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 30px;
      font-size: 50px;
  }

  .app-box{
 width: 400px;
 height: 400px;
 background-color: blue;
 position:absolute;
text-align: center;
justify-content: center;
border-radius: 4%;
margin-left: 20px;

  }

  .lists{
text-align: center;
    width: 300px;
    height: 300px;
    /* display:block; */
    position:relative;
    background-color: brown;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 5%;

  }

  .list{
display: block;
/* margin-top: 20px; */
padding: 20px;
  }

  .btn{
      margin-top: 5px;
      width: 70px;
      height: 30px;
      background-color: chartreuse;
      border-radius: 5px;
      justify-content: space-evenly;
  }


  .result{
width: 400px;
height: 400px;
display: block;
background-color: red;
position: relative;
margin-left: 500px;
margin-top: -340px;
border-radius: 5%;

  }

  .result-box{

    width: 340px;
    height: 340px;
    background-color: whitesmoke;
    position: relative;
    justify-content: center;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 5%;
    text-align: center;
  }

  .result-box p{
text-align: center;
padding-top: 20px;

  }