* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: absolute;
  background-color: red;
  text-align: center;
  width: 100%;
  display: block;
  height: 400px;
}

.app h2 {
  margin-top: 20px;
}

.aplication {
  position: relative;
  background-color: rgb(19, 224, 36);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  padding: 50px;
}
